<template>
  <div>
    <ul class="l-items">
      <li class="item">
        <div class="image" style="background-image: url('../../../img/BlackHat.jpg');"></div>
        <div class="info">
          <h4 class="title-article">Bonnet - 1</h4>
          <h4 class="category-article">Volcom - bonnet en laine</h4>
          <h5 class="price-article">15 CHF</h5>
        </div>
      </li>
      <li class="item">
        <div class="image" style="background-image: url('../../../../img/BlackHat.jpg');">
          <div class="square">-25%</div>
        </div>
        <div class="info">
          <h4 class="title-article">Bonnet - 2ff</h4>
          <h4 class="category-article">Volcom - bonnet en laine</h4>
          <div class="price-article-with-reduction">11.35 CHF <span class="price-article-without-reduction">15
                              CHF</span>
          </div>
        </div>
      </li>
    </ul>
    
  </div>
</template>

<script>
export default {
name: "CollectionsComponent"
}
</script>

<style scoped>
/*Carte du shop*/
.l-items {
  padding: 0;
  text-align: center;
  overflow-y: auto;
  height: calc(100% - 160px);
}

.item {
  display: inline-block;
  position: relative;
  width: 270px;
  margin: 15px 35px;
  text-align: center;
  list-style: none;
}

.item .image {
  height: 270px;
  width: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center;
  transition: .3s ease-out;
  position: relative;
}

.item .image:hover {
  background-image: url('../../../public/img/BlackHatModel.jpg') !important;
}

.title-article {
  margin: 0px;
  color: black;
  font-weight: 500;
  font-size: 16px;

}

.price-article {
  font-size: 16px;
  color: black;
  font-weight: 600;

}

.category-article {
  font-size: 16px;
  color: black;
  font-weight: 600;
  margin: 0;
  word-break: break-word;
}

.info {
  text-align: left;
  line-height: 22px;
  margin-top: 5px;
}

/*---- Promotion ----*/

.square {
  position: absolute;
  color: white;
  font-weight: 600;
  background-color: #ff1751;
  bottom: 50px;
  padding: 2px 5px;
}

div.square {
  color: white;
  font-weight: bold;
}

/*Reduction*/
.price-article-without-reduction {

  font-size: 16px;
  color: #c5c2c2;
  font-weight: 600;

  text-decoration: line-through;
  margin-left: 6px;
}

.price-article-with-reduction {
  font-size: 16px;
  color: #ff1751;
  font-weight: 600;

  top: 273px;
}

</style>