<template>
  <div style="height: 100%;">
    <router-view/>
  </div>
</template>
<script lang="ts">
import {Component, Vue} from "vue-property-decorator";

@Component
export default class App extends Vue {
}
</script>
<style lang="scss">
    @import "src/styles/App";
</style>

