<template>
    <b style="font-size: 40px; font-weight: bold; text-align: center; margin: 0 auto; width: 100%">Page not authorized</b>
</template>
<script>
    export default {
        name: "AccessDeniedPage"
    }
</script>

<style scoped>

</style>
