html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center
}

.block-center {
  margin: 0 auto;
  display: block;
}

.dropdown-menu{
  top: -20px;
  right: 60px!important;
}

.autocomplete .dropdown-menu {
  top: 30px !important;
}

.control > input{
  border-radius: 0!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  padding: 0 15px !important;
  height: 46px;
}

.has-margin-top{
  margin-top: 2rem;
}

.button.is-medium{
  padding: 20px 50px;
  line-height: 0;
}

.container{
  background: white;
}

.nav-title{
  line-height: 30px;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
}

.menu-list a{
  border-radius: 0;
  padding: 15px 25px;
}

.password span{
  top: 5px!important;
}

 thead tr:after {
  content: '';
  overflow-y: scroll;
  visibility: hidden;
}
.scroll-table thead th:not(.checkbox-cell) {
  flex: 1;
  display: block;
}
.scroll-table tbody {
  display: block;
  width: 100%;
  overflow-y: auto;
  height: auto;
  max-height: calc(100vh - 400px);
}
.scroll-table thead tr,
.scroll-table tbody tr {
  display: flex;
}
.scroll-table tbody tr td:not(.checkbox-cell) {
  flex: 1;
  word-wrap: break;
}
.no-select *,
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
