<template>
  <div style="height: 100%;">
    <router-view/>
  </div>
</template>
<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import Global from "@/utils/Global";

@Component
export default class App extends Vue {
    public created() {
        Global.instanceAxios.interceptors.response.use(undefined, (err) => {
            const error = err.response;
            if (
                error &&
                error.status === 401 && error.data && error.data.message === "token-expired"
            ) {
                return this.$store.dispatch("logout").then(() => {
                    this.$buefy.notification.open({
                        duration: 30000,
                        message: "Votre session a expiré. Veuillez vous reconnecter",
                        position: "is-bottom",
                        type: "is-warning"
                    });
                    this.$router.push({name: "login"});
                });
            }

            return error;
        });
    }
}
</script>
<style lang="scss">
html, body { height: 100%; width: 100%}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
h1,h2,h3,h4,h5,h6 {margin: 0;}

</style>
