<template>
  <div style="height: 100%">
    <nav class="header" v-on:click="closeCart($event)">
      <img src="../../../public/img/paynomind.png" class="header__title">
      <div class="header__sidelinks">
        <a class="header__user" href="/user"><img class="header__icon" src="../../../public/img/user.png"></a>
        <img class="header__icon cart-toggle" v-on:click="openCart()" src="../../../public/img/cartwhite.png">
      </div>
    </nav>
    <nav class="nav-second">
      <ul class="nav-links">
        <li>
          <a class="link">New collections</a>
        </li>
        <li>
          <a class="link">Coming soon</a>
        </li>
        <li>
          <a class="link">Collections</a>
        </li>
        <li>
          <div class="dropdown">
            <a class="dropbtn">Apparel</a>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </li>
        <li>
          <a class="link">Blog</a>
        </li>
        <li>
          <a class="link">Articles Management</a>
        </li>
      </ul>
    </nav>
    <div class="section-articles" v-on:click="closeCart($event)">
      <!--Navbar-->
      <router-view/>
    </div>
    <!--article dans le shop-->
    <div :class="isOpenClass">
      <img class="cross" src="../../../public/img/crossWhite.png" v-on:click="closeCart($event)" />
      <div class="title">Bag</div>
      <div class="items-cart">
        <div class="article-cart">
          <div class="container-image">
            <img src="../../../public/img/BlackHatModel.jpg" />
          </div>
          <div class="info-article">
            <div class="details">
              <div>
                <a class="name">Bonnet de brice</a>
                <span class="category">Categorie bonnet</span>
                <span class="material">Coton</span>
              </div>
              <div class="size">M</div>
            </div>
            <div class="quantity">3</div>
            <div class="price">60 CHF</div>
          </div>
        </div>
        <div class="article-cart">
          <div class="container-image">
            <img src="../../../public/img/BlackHat.jpg" />
          </div>
          <div class="info-article">
            <div class="details">
              <div class="complete-name">
                <a class="name">Bonnet simple</a>
                <span class="category">Categorie coucou</span>
                <span class="material">Coton</span>
              </div>
              <div class="size">M</div>
            </div>
            <div class="quantity">1</div>
            <div class="price">23.45 CHF</div>
          </div>
        </div>
      </div>
      <div class="container-total">
        <div style="text-align: left">TOTAL</div>
        <div style="text-align: right; font-weight: bold; font-size: 25px;">83.45 CHF</div>
      </div>
      <a href="#" class="checkout">Checkout</a>
    </div>
  </div>
</template>


<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Global from "@/utils/Global";

@Component
export default class CollectionsPageVue extends Vue {
  public isOpenCart:Boolean = false; 

  get isOpenClass() {
    console.log(this.isOpenCart ? "cart slide active" : "cart slide")
    return this.isOpenCart ? "cart slide active" : "cart slide";
  }

  public openCart() {
    this.isOpenCart = true;
  }

  public closeCart(e: MouseEvent) {
    // @ts-ignore
    if (e && e.target && e.target.className) {
      // @ts-ignore
      if (e.target.className.includes("cart-toggle")) {
        return;
      }
      this.isOpenCart = false;
    }
    
  }
}
</script>

<style scoped lang="scss">
.header {
  display: flex;
  position: relative;
  width: 100%;
  height: 80px;
  
  &__title {
    display: block;
    height: 50px;
    margin: auto;
  }
  
  &__icon {
    height: 32px;
    cursor: pointer;
  }
  
  &__sidelinks {
    display: flex;
    position: absolute;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  &__user {
    margin-right: 40px;
    cursor: pointer;
  }
}





/*Navbar*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}

.section-articles{
  height: calc(100% - 160px);
}

.nav-second {
  z-index: 998;
  display: flex;
  width: 100%;
  align-items: center;
  min-height: 8vh;
  background-color: white;
  overflow: hidden;
  height: 80px


}

.logo {
  height: 45px;
}

.nav-links {
  display: flex;
  overflow-x: auto;
  margin: 0 auto;
}

.nav-links li {
  list-style: none;
  margin: 2px 12px;
  padding: 5px;
  min-width: max-content;
}

.nav-links a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}


.cross {
  position: absolute;
  right: 15px;
  top: 20px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.cart:not(.slide) {
  position: absolute;
  right: 40px;
  height: 30px;
  width: 30px;
}

.nav-principal .cart:active {
  background-image: url('../../../public/img/cartblack.png') !important;

}

/* Links hover*/
.link:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}


.link:hover:after {
  width: 100%;
  background: black;
}

.cart.slide .title {
  color: white;
  padding: 20px 20px 0 20px;
  list-style: none;
  font-weight: bold;
  font-size: 44px;
}

.cart.slide {
  color: white !important;
  height: 100%;
  width: 500px;
  z-index: 9999;
  position: absolute;
  background: black;
  top: 0;
  right: 0;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.3s;
}

.cart.slide.active {
  transform: translate3d(0, 0, 0);
}

.checkout {
  width: calc(100% - 60px);
  background-color: white;

  text-transform: uppercase;
  height: 50px;
  font-size: 17px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.items-cart {
  color: white;
  font-size: 16px;
}

.items-cart .article-cart {
  width: 100%;
  height: 140px;
  margin: 25px 0;
  padding: 0 20px;
}

.items-cart .article-cart:hover {
  background-color: #f7f7f71f;
}

.items-cart .article-cart > div {
  float: left;
}

.items-cart .article-cart .info-article {
  width: calc(75% - 15px);
  margin-left: 10px;
}

.items-cart .article-cart .info-article > div{
  float: left;
}

.items-cart .info-article .details .name {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.items-cart .info-article .details .size {
  margin-top: 15px;
}

.items-cart .article-cart .info-article .details{
  width: 60%;
  margin-right: 15px;
}
.items-cart .article-cart .info-article .quantity{
  width: calc(15% - 15px);
  text-align: center;
  margin-top: 3px;
}
.items-cart .article-cart .info-article .price{
  width: 25%;
  margin-top: 3px;
  text-align: right;
  font-weight: bold;
}

.items-cart .article-cart .container-image {
  width: 25%;
  height: 100%;
  /*text-align: center;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-cart .article-cart .container-image img {
  max-width: 90%;
  max-height: 90%;
}

.items-cart .article-cart .info-article {
  height: 100%;
  padding: 20px 0;
}

.container-total {
  width: 100%;
  margin: 0 30px;
}

.container-total div{
  float: left;
  width: calc(50% - 30px);
  border-top: 3px solid white;
  padding: 10px;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  transition: 0.3s ease-out;
  opacity: 0;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 3px 3px 25px -15px rgba(0,0,0,0.71);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {opacity: 1;}

</style>
