import { cursorTo } from "readline";

<template>
  <div class="columns">
    <div class="column is-one-third"></div>
    <div class="column is-one-third" @keyup.enter="tryLogin">
      <section class="section" style="padding: 0; text-align:center">

      </section>
      <section class="section" style="padding-top: 0">
        <b-field
            label="Nom d'utilisateur"
            custom-class="intranet-field"
        >
          <b-input
              placeholder="Login de l'utilisateur"
              v-model="loginOrEmail"
          ></b-input>
        </b-field>
        <b-field
            label="Mot de passe"
        >
          <b-input
              v-model="password"
              placeholder="Mot de passe"
              type="password"
          ></b-input>
        </b-field>
        <div class="content-login">
          <b-button
              type="is-primary"
              size="is-medium"
              v-on:click="tryLogin"
          >Connexion
          </b-button>
          <span class="no-account">
              Pas de compte? <span class="button-create-account" @click="isRegisterUser = true">Créer s'en un</span>
          </span>
        </div>

      </section>
      <div class="column"></div>
    </div>
    <b-modal :active.sync="isRegisterUser">
      <register-user-modal-component @updateVisibility="onUpdateVisibilityModal"/>
    </b-modal>
  </div>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from "vue-property-decorator";

  enum MODAL_TYPES {
      MODAL_REGISTER_USER = "MODAL_REGISTER_USER"
  }

  @Component
  export default class LoginPageVue extends Vue {
      public isRegisterUser = false;

      public loginOrEmail = "";
      public password = "";

      public tryLogin() {
        this.$store
        .dispatch("login", {
          loginOrEmail: this.loginOrEmail,
          password: this.password
        })
        .then((response: any) => {
          if (response.success === true) {
            this.$router.push("/chat/chat");
          } else {
            let message = "";
            switch (response.code) {
              case "user-not-found":
                message = "Ce nom d'utilisateur ou cette adresse email n'existe pas"
                break;
              case "error-credentials":
                message = "Erreur lors de l'entrée du mot de passe";
                break;
              case "fields-empty":
                message = "Veuillez remplir les champs ci-dessus";
                break;
              default:
                message = "Une erreur est survenu lors de la connexion au serveur"
                break;
            }
            this.$buefy.notification.open({
              duration: 5000,
              message: message,
              position: "is-bottom",
              type: "is-warning"
            });
          }
        })
      }

      public onUpdateVisibilityModal(data: {
          modalName: MODAL_TYPES,
          isVisible: boolean
      }) {
          switch (data.modalName) {
              case MODAL_TYPES.MODAL_REGISTER_USER:
                  this.isRegisterUser = data.isVisible;
                  break;
              default:
          }
      }
  }
</script>

<style scoped>
  .button-create-account {
    cursor: pointer;
    text-decoration: underline;
  }

  .content-login {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }

  .no-account {
    align-self: center;
  }
</style>
