<template>
      <div style="position:relative; width: 100%">
          <div class="header">
            <img src="../../../public/img/paynomind.png">
          </div>
          <a class="return-shop" href="/">RETURN TO SHOP</a>
          <div>
            <router-view/>
          </div>
      </div>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from "vue-property-decorator";

  @Component
  export default class NoLayoutVue extends Vue {

  }
</script>

<style scoped lang="scss">
  .return-shop {

  }
  .header {
    display: flex;
    position: relative;
    width: 100%;
    height: 80px;
    img {
      display: block;
      height: 50px;
      margin: auto;
    }
  }
</style>
