<template>
    <div>
        ici page de regsiter
        <input v-model="response"><b-button @click="() => tests()" type="is-success">Tests Axios</b-button>
        {{test}}
    </div>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from "vue-property-decorator";
  import Global from "@/utils/Global";
  import store from "@/store";

  @Component
  export default class RegisterPageVue extends Vue {
    public mounted() {
    }
  }
</script>

<style scoped>

</style>